In [ ]:
!pip install -q pyomo

In [ ]:
from pyomo.environ import *

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
data_csvfile = pd.read_csv('lab6_ex1.csv')

In [ ]:
data_csvfile.index

RangeIndex(start=0, stop=9, step=1)

In [ ]:
print("Number of rows: ", len(data_csvfile.index))

Number of rows:  9

In [ ]:
#to get the row contents corresponding to Ahmedabad
print(data_csvfile.iloc[0, :])

Warehouses    Ahmedabad
Hassan              827
Jodhpur             817
Trichy             1470
Simla              2272
Vijayawada         1615
Dibru              3143
Raipur             1264
Agartala           4465
Stock               350
Name: 0, dtype: object

In [ ]:
#to get the column contents corresponding to Hassan
print(data_csvfile.iloc[:, 1])

0     827
1     559
2    1109
3    2943
4    3742
5    2353
6    1356
7     195
8     205
Name: Hassan, dtype: int64

In [ ]:
#to get the row contents corresponding to Mumbai
print(data_csvfile.iloc[6, :])

Warehouses    Mumbai
Hassan          1356
Jodhpur         1617
Trichy          2045
Simla           2941
Vijayawada      2334
Dibru           4151
Raipur          1937
Agartala        4287
Stock            325
Name: 6, dtype: object

In [ ]:
data_csvfile.columns

Index(['Warehouses', 'Hassan', 'Jodhpur', 'Trichy', 'Simla', 'Vijayawada',
       'Dibru', 'Raipur', 'Agartala', 'Stock'],
      dtype='object')

In [ ]:
#create a model
model_lab6_ex1 = ConcreteModel()

In [ ]:
#setting the values using python variables
M = len(data_csvfile.index) - 1
print("Number of Warehouses: ", M)

Number of Warehouses:  8

In [ ]:
#print the number of cities
N = len(data_csvfile.columns) - 2
print("Number of cities: ", N)

Number of cities:  8

In [ ]:
row_indices = range(M)
col_indices =  range(N)
print(row_indices)
print(col_indices)

range(0, 8)
range(0, 8)

In [ ]:
#get contents of cost
for row_idx in row_indices:
  for col_idx in col_indices:
    print('Cost[', row_idx, '][', col_idx + 1, ']: ', data_csvfile.iloc[row_idx, col_idx + 1])

Cost[ 0 ][ 1 ]:  827
Cost[ 0 ][ 2 ]:  817
Cost[ 0 ][ 3 ]:  1470
Cost[ 0 ][ 4 ]:  2272
Cost[ 0 ][ 5 ]:  1615
Cost[ 0 ][ 6 ]:  3143
Cost[ 0 ][ 7 ]:  1264
Cost[ 0 ][ 8 ]:  4465
Cost[ 1 ][ 1 ]:  559
Cost[ 1 ][ 2 ]:  1832
Cost[ 1 ][ 3 ]:  751
Cost[ 1 ][ 4 ]:  3772
Cost[ 1 ][ 5 ]:  637
Cost[ 1 ][ 6 ]:  3773
Cost[ 1 ][ 7 ]:  1856
Cost[ 1 ][ 8 ]:  5459
Cost[ 2 ][ 1 ]:  1109
Cost[ 2 ][ 2 ]:  2443
Cost[ 2 ][ 3 ]:  577
Cost[ 2 ][ 4 ]:  3865
Cost[ 2 ][ 5 ]:  798
Cost[ 2 ][ 6 ]:  3521
Cost[ 2 ][ 7 ]:  1984
Cost[ 2 ][ 8 ]:  5303
Cost[ 3 ][ 1 ]:  2943
Cost[ 3 ][ 2 ]:  1471
Cost[ 3 ][ 3 ]:  4676
Cost[ 3 ][ 4 ]:  1337
Cost[ 3 ][ 5 ]:  2702
Cost[ 3 ][ 6 ]:  2741
Cost[ 3 ][ 7 ]:  2482
Cost[ 3 ][ 8 ]:  4148
Cost[ 4 ][ 1 ]:  3742
Cost[ 4 ][ 2 ]:  3089
Cost[ 4 ][ 3 ]:  2931
Cost[ 4 ][ 4 ]:  3199
Cost[ 4 ][ 5 ]:  2226
Cost[ 4 ][ 6 ]:  1739
Cost[ 4 ][ 7 ]:  1691
Cost[ 4 ][ 8 ]:  2128
Cost[ 5 ][ 1 ]:  2353
Cost[ 5 ][ 2 ]:  1160
Cost[ 5 ][ 3 ]:  3295
Cost[ 5 ][ 4 ]:  368
Cost[ 5 ][ 5 ]:  2369
Cost[ 5 ][ 6 ]:  2365
Cost[ 5 ][ 7 ]:  1293
Cost[ 5 ][ 8 ]:  3642
Cost[ 6 ][ 1 ]:  1356
Cost[ 6 ][ 2 ]:  1617
Cost[ 6 ][ 3 ]:  2045
Cost[ 6 ][ 4 ]:  2941
Cost[ 6 ][ 5 ]:  2334
Cost[ 6 ][ 6 ]:  4151
Cost[ 6 ][ 7 ]:  1937
Cost[ 6 ][ 8 ]:  4287
Cost[ 7 ][ 1 ]:  195
Cost[ 7 ][ 2 ]:  1862
Cost[ 7 ][ 3 ]:  1331
Cost[ 7 ][ 4 ]:  2921
Cost[ 7 ][ 5 ]:  402
Cost[ 7 ][ 6 ]:  2825
Cost[ 7 ][ 7 ]:  563
Cost[ 7 ][ 8 ]:  4441

In [ ]:
#declare the decision variables in the model
model_lab6_ex1.x = Var(row_indices, col_indices, domain = NonNegativeIntegers)

In [ ]:
model_lab6_ex1.objective = Objective(expr = sum(data_csvfile.iloc[i, j+1]*model_lab6_ex1.x[i, j] for i in row_indices for j in col_indices), sense = minimize)

In [ ]:
model_lab6_ex1.constraints = ConstraintList()

In [ ]:
#to get the supply limit at warehouses
print(data_csvfile.iloc[:8, N+1])

0    350
1    185
2    305
3    180
4    205
5    175
6    325
7    370
Name: Stock, dtype: int64

In [ ]:
#to get the demands at cities
print(data_csvfile.iloc[M, 1:N+1])

Hassan        205
Jodhpur       300
Trichy        425
Simla         270
Vijayawada    375
Dibru         225
Raipur        185
Agartala      110
Name: 8, dtype: object

In [ ]:
#first we will add the supply limit constraints
#supply constraint for Ahmedabad
model_lab6_ex1.constraints.add(expr = sum(model_lab6_ex1.x[0, j] for j in col_indices) <= data_csvfile.iloc[0, N+1])

#supply constraint for Bengaluru
model_lab6_ex1.constraints.add(expr = sum(model_lab6_ex1.x[1, j] for j in col_indices) <= data_csvfile.iloc[1, N+1])

#supply constraint for Chennai
model_lab6_ex1.constraints.add(expr = sum(model_lab6_ex1.x[2, j] for j in col_indices) <= data_csvfile.iloc[2, N+1])

#supply constraint for Delhi
model_lab6_ex1.constraints.add(expr = sum(model_lab6_ex1.x[3, j] for j in col_indices) <= data_csvfile.iloc[3, N+1])

#supply constraint for Kolkata
model_lab6_ex1.constraints.add(expr = sum(model_lab6_ex1.x[4, j] for j in col_indices) <= data_csvfile.iloc[4, N+1])

#supply constraint for Lucknow
model_lab6_ex1.constraints.add(expr = sum(model_lab6_ex1.x[5, j] for j in col_indices) <= data_csvfile.iloc[5, N+1])

#supply constraint for Mumbai
model_lab6_ex1.constraints.add(expr = sum(model_lab6_ex1.x[6, j] for j in col_indices) <= data_csvfile.iloc[6, N+1])

#supply constraint for Hyderabad
model_lab6_ex1.constraints.add(expr = sum(model_lab6_ex1.x[7, j] for j in col_indices) <= data_csvfile.iloc[7, N+1])

In [ ]:
#now we will add the demand constraints
#demand constraint for Hassan
model_lab6_ex1.constraints.add(expr = sum(model_lab6_ex1.x[i, 0] for i in row_indices) == data_csvfile.iloc[M, 1]) 

#demand constraint for Hassan
model_lab6_ex1.constraints.add(expr = sum(model_lab6_ex1.x[i, 1] for i in row_indices) == data_csvfile.iloc[M, 2]) 

#demand constraint for Hassan
model_lab6_ex1.constraints.add(expr = sum(model_lab6_ex1.x[i, 2] for i in row_indices) == data_csvfile.iloc[M, 3])

#demand constraint for Hassan
model_lab6_ex1.constraints.add(expr = sum(model_lab6_ex1.x[i, 3] for i in row_indices) == data_csvfile.iloc[M, 4]) 

#demand constraint for Hassan
model_lab6_ex1.constraints.add(expr = sum(model_lab6_ex1.x[i, 4] for i in row_indices) == data_csvfile.iloc[M, 5]) 

#demand constraint for Hassan
model_lab6_ex1.constraints.add(expr = sum(model_lab6_ex1.x[i, 5] for i in row_indices) == data_csvfile.iloc[M, 6]) 

#demand constraint for Hassan
model_lab6_ex1.constraints.add(expr = sum(model_lab6_ex1.x[i, 6] for i in row_indices) == data_csvfile.iloc[M, 7]) 

#demand constraint for Hassan
model_lab6_ex1.constraints.add(expr = sum(model_lab6_ex1.x[i, 7] for i in row_indices) == data_csvfile.iloc[M, 8])

In [ ]:
model_lab6_ex1.pprint()

4 Set Declarations
    constraints_index : Size=1, Index=None, Ordered=Insertion
        Key  : Dimen : Domain : Size : Members
        None :     1 :    Any :   16 : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16}
    x_index : Size=1, Index=None, Ordered=True
        Key  : Dimen : Domain              : Size : Members
        None :     2 : x_index_0*x_index_1 :   64 : {(0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (0, 5), (0, 6), (0, 7), (1, 0), (1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (1, 7), (2, 0), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (2, 7), (3, 0), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (3, 7), (4, 0), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (4, 7), (5, 0), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (5, 7), (6, 0), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6), (6, 7), (7, 0), (7, 1), (7, 2), (7, 3), (7, 4), (7, 5), (7, 6), (7, 7)}
    x_index_0 : Size=1, Index=None, Ordered=Insertion
        Key  : Dimen : Domain : Size : Members
        None :     1 :    Any :    8 : {0, 1, 2, 3, 4, 5, 6, 7}
    x_index_1 : Size=1, Index=None, Ordered=Insertion
        Key  : Dimen : Domain : Size : Members
        None :     1 :    Any :    8 : {0, 1, 2, 3, 4, 5, 6, 7}

1 Var Declarations
    x : Size=64, Index=x_index
        Key    : Lower : Value : Upper : Fixed : Stale : Domain
        (0, 0) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (0, 1) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (0, 2) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (0, 3) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (0, 4) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (0, 5) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (0, 6) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (0, 7) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (1, 0) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (1, 1) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (1, 2) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (1, 3) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (1, 4) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (1, 5) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (1, 6) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (1, 7) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (2, 0) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (2, 1) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (2, 2) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (2, 3) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (2, 4) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (2, 5) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (2, 6) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (2, 7) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (3, 0) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (3, 1) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (3, 2) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (3, 3) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (3, 4) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (3, 5) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (3, 6) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (3, 7) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (4, 0) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (4, 1) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (4, 2) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (4, 3) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (4, 4) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (4, 5) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (4, 6) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (4, 7) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (5, 0) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (5, 1) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (5, 2) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (5, 3) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (5, 4) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (5, 5) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (5, 6) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (5, 7) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (6, 0) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (6, 1) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (6, 2) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (6, 3) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (6, 4) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (6, 5) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (6, 6) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (6, 7) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (7, 0) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (7, 1) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (7, 2) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (7, 3) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (7, 4) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (7, 5) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (7, 6) :     0 :  None :  None : False :  True : NonNegativeIntegers
        (7, 7) :     0 :  None :  None : False :  True : NonNegativeIntegers

1 Objective Declarations
    objective : Size=1, Index=None, Active=True
        Key  : Active : Sense    : Expression
        None :   True : minimize : 827*x[0,0] + 817*x[0,1] + 1470*x[0,2] + 2272*x[0,3] + 1615*x[0,4] + 3143*x[0,5] + 1264*x[0,6] + 4465*x[0,7] + 559*x[1,0] + 1832*x[1,1] + 751*x[1,2] + 3772*x[1,3] + 637*x[1,4] + 3773*x[1,5] + 1856*x[1,6] + 5459*x[1,7] + 1109*x[2,0] + 2443*x[2,1] + 577*x[2,2] + 3865*x[2,3] + 798*x[2,4] + 3521*x[2,5] + 1984*x[2,6] + 5303*x[2,7] + 2943*x[3,0] + 1471*x[3,1] + 4676*x[3,2] + 1337*x[3,3] + 2702*x[3,4] + 2741*x[3,5] + 2482*x[3,6] + 4148*x[3,7] + 3742*x[4,0] + 3089*x[4,1] + 2931*x[4,2] + 3199*x[4,3] + 2226*x[4,4] + 1739*x[4,5] + 1691*x[4,6] + 2128*x[4,7] + 2353*x[5,0] + 1160*x[5,1] + 3295*x[5,2] + 368*x[5,3] + 2369*x[5,4] + 2365*x[5,5] + 1293*x[5,6] + 3642*x[5,7] + 1356*x[6,0] + 1617*x[6,1] + 2045*x[6,2] + 2941*x[6,3] + 2334*x[6,4] + 4151*x[6,5] + 1937*x[6,6] + 4287*x[6,7] + 195*x[7,0] + 1862*x[7,1] + 1331*x[7,2] + 2921*x[7,3] + 402*x[7,4] + 2825*x[7,5] + 563*x[7,6] + 4441*x[7,7]

1 Constraint Declarations
    constraints : Size=16, Index=constraints_index, Active=True
        Key : Lower : Body                                                                  : Upper : Active
          1 :  -Inf : x[0,0] + x[0,1] + x[0,2] + x[0,3] + x[0,4] + x[0,5] + x[0,6] + x[0,7] : 350.0 :   True
          2 :  -Inf : x[1,0] + x[1,1] + x[1,2] + x[1,3] + x[1,4] + x[1,5] + x[1,6] + x[1,7] : 185.0 :   True
          3 :  -Inf : x[2,0] + x[2,1] + x[2,2] + x[2,3] + x[2,4] + x[2,5] + x[2,6] + x[2,7] : 305.0 :   True
          4 :  -Inf : x[3,0] + x[3,1] + x[3,2] + x[3,3] + x[3,4] + x[3,5] + x[3,6] + x[3,7] : 180.0 :   True
          5 :  -Inf : x[4,0] + x[4,1] + x[4,2] + x[4,3] + x[4,4] + x[4,5] + x[4,6] + x[4,7] : 205.0 :   True
          6 :  -Inf : x[5,0] + x[5,1] + x[5,2] + x[5,3] + x[5,4] + x[5,5] + x[5,6] + x[5,7] : 175.0 :   True
          7 :  -Inf : x[6,0] + x[6,1] + x[6,2] + x[6,3] + x[6,4] + x[6,5] + x[6,6] + x[6,7] : 325.0 :   True
          8 :  -Inf : x[7,0] + x[7,1] + x[7,2] + x[7,3] + x[7,4] + x[7,5] + x[7,6] + x[7,7] : 370.0 :   True
          9 : 205.0 : x[0,0] + x[1,0] + x[2,0] + x[3,0] + x[4,0] + x[5,0] + x[6,0] + x[7,0] : 205.0 :   True
         10 : 300.0 : x[0,1] + x[1,1] + x[2,1] + x[3,1] + x[4,1] + x[5,1] + x[6,1] + x[7,1] : 300.0 :   True
         11 : 425.0 : x[0,2] + x[1,2] + x[2,2] + x[3,2] + x[4,2] + x[5,2] + x[6,2] + x[7,2] : 425.0 :   True
         12 : 270.0 : x[0,3] + x[1,3] + x[2,3] + x[3,3] + x[4,3] + x[5,3] + x[6,3] + x[7,3] : 270.0 :   True
         13 : 375.0 : x[0,4] + x[1,4] + x[2,4] + x[3,4] + x[4,4] + x[5,4] + x[6,4] + x[7,4] : 375.0 :   True
         14 : 225.0 : x[0,5] + x[1,5] + x[2,5] + x[3,5] + x[4,5] + x[5,5] + x[6,5] + x[7,5] : 225.0 :   True
         15 : 185.0 : x[0,6] + x[1,6] + x[2,6] + x[3,6] + x[4,6] + x[5,6] + x[6,6] + x[7,6] : 185.0 :   True
         16 : 110.0 : x[0,7] + x[1,7] + x[2,7] + x[3,7] + x[4,7] + x[5,7] + x[6,7] + x[7,7] : 110.0 :   True

7 Declarations: x_index_0 x_index_1 x_index x objective constraints_index constraints

In [ ]:
!apt-get install -y -qq coinor-cbc

In [ ]:
opt_cbc = SolverFactory('cbc')

In [ ]:
result = opt_cbc.solve(model_lab6_ex1)
print("Solver Status: ", result.solver.status)
print("Solver Termination Condition", result.solver.termination_condition)

Solver Status:  ok
Solver Termination Condition optimal

In [ ]:
#display solution
print("\nObjective = ", model_lab6_ex1.objective())

print('\nDecision Variables')
for i in row_indices:
  for j in col_indices:
    print("Number of truck-loads of EVs from", data_csvfile['Warehouses'][i], "to", data_csvfile.columns[j + 1], ":", model_lab6_ex1.x[i, j].value)

print("n\Constraints")
model_lab6_ex1.constraints.display()

Objective =  2192870.0

Decision Variables
Number of truck-loads of EVs from Ahmedabad to Hassan : 0.0
Number of truck-loads of EVs from Ahmedabad to Jodhpur : 300.0
Number of truck-loads of EVs from Ahmedabad to Trichy : 0.0
Number of truck-loads of EVs from Ahmedabad to Simla : 0.0
Number of truck-loads of EVs from Ahmedabad to Vijayawada : 0.0
Number of truck-loads of EVs from Ahmedabad to Dibru : 45.0
Number of truck-loads of EVs from Ahmedabad to Raipur : 5.0
Number of truck-loads of EVs from Ahmedabad to Agartala : 0.0
Number of truck-loads of EVs from Bengal to Hassan : 0.0
Number of truck-loads of EVs from Bengal to Jodhpur : 0.0
Number of truck-loads of EVs from Bengal to Trichy : 120.0
Number of truck-loads of EVs from Bengal to Simla : 0.0
Number of truck-loads of EVs from Bengal to Vijayawada : 65.0
Number of truck-loads of EVs from Bengal to Dibru : 0.0
Number of truck-loads of EVs from Bengal to Raipur : 0.0
Number of truck-loads of EVs from Bengal to Agartala : 0.0
Number of truck-loads of EVs from Chennai to Hassan : 0.0
Number of truck-loads of EVs from Chennai to Jodhpur : 0.0
Number of truck-loads of EVs from Chennai to Trichy : 305.0
Number of truck-loads of EVs from Chennai to Simla : 0.0
Number of truck-loads of EVs from Chennai to Vijayawada : 0.0
Number of truck-loads of EVs from Chennai to Dibru : 0.0
Number of truck-loads of EVs from Chennai to Raipur : 0.0
Number of truck-loads of EVs from Chennai to Agartala : 0.0
Number of truck-loads of EVs from Delhi to Hassan : 0.0
Number of truck-loads of EVs from Delhi to Jodhpur : 0.0
Number of truck-loads of EVs from Delhi to Trichy : 0.0
Number of truck-loads of EVs from Delhi to Simla : 95.0
Number of truck-loads of EVs from Delhi to Vijayawada : 0.0
Number of truck-loads of EVs from Delhi to Dibru : 85.0
Number of truck-loads of EVs from Delhi to Raipur : 0.0
Number of truck-loads of EVs from Delhi to Agartala : 0.0
Number of truck-loads of EVs from Kolkata to Hassan : 0.0
Number of truck-loads of EVs from Kolkata to Jodhpur : 0.0
Number of truck-loads of EVs from Kolkata to Trichy : 0.0
Number of truck-loads of EVs from Kolkata to Simla : 0.0
Number of truck-loads of EVs from Kolkata to Vijayawada : 0.0
Number of truck-loads of EVs from Kolkata to Dibru : 95.0
Number of truck-loads of EVs from Kolkata to Raipur : 0.0
Number of truck-loads of EVs from Kolkata to Agartala : 110.0
Number of truck-loads of EVs from Lucknow to Hassan : 0.0
Number of truck-loads of EVs from Lucknow to Jodhpur : 0.0
Number of truck-loads of EVs from Lucknow to Trichy : 0.0
Number of truck-loads of EVs from Lucknow to Simla : 175.0
Number of truck-loads of EVs from Lucknow to Vijayawada : 0.0
Number of truck-loads of EVs from Lucknow to Dibru : 0.0
Number of truck-loads of EVs from Lucknow to Raipur : 0.0
Number of truck-loads of EVs from Lucknow to Agartala : 0.0
Number of truck-loads of EVs from Mumbai to Hassan : 205.0
Number of truck-loads of EVs from Mumbai to Jodhpur : 0.0
Number of truck-loads of EVs from Mumbai to Trichy : 0.0
Number of truck-loads of EVs from Mumbai to Simla : 0.0
Number of truck-loads of EVs from Mumbai to Vijayawada : 0.0
Number of truck-loads of EVs from Mumbai to Dibru : 0.0
Number of truck-loads of EVs from Mumbai to Raipur : 120.0
Number of truck-loads of EVs from Mumbai to Agartala : 0.0
Number of truck-loads of EVs from Hyderabad to Hassan : 0.0
Number of truck-loads of EVs from Hyderabad to Jodhpur : 0.0
Number of truck-loads of EVs from Hyderabad to Trichy : 0.0
Number of truck-loads of EVs from Hyderabad to Simla : 0.0
Number of truck-loads of EVs from Hyderabad to Vijayawada : 310.0
Number of truck-loads of EVs from Hyderabad to Dibru : 0.0
Number of truck-loads of EVs from Hyderabad to Raipur : 60.0
Number of truck-loads of EVs from Hyderabad to Agartala : 0.0
n\Constraints
constraints : Size=16
    Key : Lower : Body  : Upper
      1 :  None : 350.0 : 350.0
      2 :  None : 185.0 : 185.0
      3 :  None : 305.0 : 305.0
      4 :  None : 180.0 : 180.0
      5 :  None : 205.0 : 205.0
      6 :  None : 175.0 : 175.0
      7 :  None : 325.0 : 325.0
      8 :  None : 370.0 : 370.0
      9 : 205.0 : 205.0 : 205.0
     10 : 300.0 : 300.0 : 300.0
     11 : 425.0 : 425.0 : 425.0
     12 : 270.0 : 270.0 : 270.0
     13 : 375.0 : 375.0 : 375.0
     14 : 225.0 : 225.0 : 225.0
     15 : 185.0 : 185.0 : 185.0
     16 : 110.0 : 110.0 : 110.0

In [ ]:
data_csvfile.iloc[5, 4] = 10000000

In [ ]:
model_lab6_ex1.objective = Objective(expr = sum(data_csvfile.iloc[i, j+1]*model_lab6_ex1.x[i, j] for i in row_indices for j in col_indices), sense = minimize)

WARNING:pyomo.core:Implicitly replacing the Component attribute objective (type=<class 'pyomo.core.base.objective.ScalarObjective'>) on block unknown with a new Component (type=<class 'pyomo.core.base.objective.ScalarObjective'>).
This is usually indicative of a modelling error.
To avoid this warning, use block.del_component() and block.add_component().

In [ ]:
result = opt_cbc.solve(model_lab6_ex1)
print("Solver Status: ", result.solver.status)
print("Solver Termination Condition", result.solver.termination_condition)

Solver Status:  ok
Solver Termination Condition optimal

In [ ]:
#display solution
print("\nObjective = ", model_lab6_ex1.objective())

print('\nDecision Variables')
for i in row_indices:
  for j in col_indices:
    print("Number of truck-loads of EVs from", data_csvfile['Warehouses'][i], "to", data_csvfile.columns[j + 1], ":", model_lab6_ex1.x[i, j].value)

print("n\Constraints")
model_lab6_ex1.constraints.display()

Objective =  2380570.0

Decision Variables
Number of truck-loads of EVs from Ahmedabad to Hassan : 0.0
Number of truck-loads of EVs from Ahmedabad to Jodhpur : 300.0
Number of truck-loads of EVs from Ahmedabad to Trichy : 0.0
Number of truck-loads of EVs from Ahmedabad to Simla : 0.0
Number of truck-loads of EVs from Ahmedabad to Vijayawada : 0.0
Number of truck-loads of EVs from Ahmedabad to Dibru : 0.0
Number of truck-loads of EVs from Ahmedabad to Raipur : 50.0
Number of truck-loads of EVs from Ahmedabad to Agartala : 0.0
Number of truck-loads of EVs from Bengal to Hassan : 0.0
Number of truck-loads of EVs from Bengal to Jodhpur : 0.0
Number of truck-loads of EVs from Bengal to Trichy : 120.0
Number of truck-loads of EVs from Bengal to Simla : 0.0
Number of truck-loads of EVs from Bengal to Vijayawada : 65.0
Number of truck-loads of EVs from Bengal to Dibru : 0.0
Number of truck-loads of EVs from Bengal to Raipur : 0.0
Number of truck-loads of EVs from Bengal to Agartala : 0.0
Number of truck-loads of EVs from Chennai to Hassan : 0.0
Number of truck-loads of EVs from Chennai to Jodhpur : 0.0
Number of truck-loads of EVs from Chennai to Trichy : 305.0
Number of truck-loads of EVs from Chennai to Simla : 0.0
Number of truck-loads of EVs from Chennai to Vijayawada : 0.0
Number of truck-loads of EVs from Chennai to Dibru : 0.0
Number of truck-loads of EVs from Chennai to Raipur : 0.0
Number of truck-loads of EVs from Chennai to Agartala : 0.0
Number of truck-loads of EVs from Delhi to Hassan : 0.0
Number of truck-loads of EVs from Delhi to Jodhpur : 0.0
Number of truck-loads of EVs from Delhi to Trichy : 0.0
Number of truck-loads of EVs from Delhi to Simla : 180.0
Number of truck-loads of EVs from Delhi to Vijayawada : 0.0
Number of truck-loads of EVs from Delhi to Dibru : 0.0
Number of truck-loads of EVs from Delhi to Raipur : 0.0
Number of truck-loads of EVs from Delhi to Agartala : 0.0
Number of truck-loads of EVs from Kolkata to Hassan : 0.0
Number of truck-loads of EVs from Kolkata to Jodhpur : 0.0
Number of truck-loads of EVs from Kolkata to Trichy : 0.0
Number of truck-loads of EVs from Kolkata to Simla : 0.0
Number of truck-loads of EVs from Kolkata to Vijayawada : 0.0
Number of truck-loads of EVs from Kolkata to Dibru : 95.0
Number of truck-loads of EVs from Kolkata to Raipur : 0.0
Number of truck-loads of EVs from Kolkata to Agartala : 110.0
Number of truck-loads of EVs from Lucknow to Hassan : 0.0
Number of truck-loads of EVs from Lucknow to Jodhpur : 0.0
Number of truck-loads of EVs from Lucknow to Trichy : 0.0
Number of truck-loads of EVs from Lucknow to Simla : 0.0
Number of truck-loads of EVs from Lucknow to Vijayawada : 0.0
Number of truck-loads of EVs from Lucknow to Dibru : 130.0
Number of truck-loads of EVs from Lucknow to Raipur : 45.0
Number of truck-loads of EVs from Lucknow to Agartala : 0.0
Number of truck-loads of EVs from Mumbai to Hassan : 205.0
Number of truck-loads of EVs from Mumbai to Jodhpur : 0.0
Number of truck-loads of EVs from Mumbai to Trichy : 0.0
Number of truck-loads of EVs from Mumbai to Simla : 90.0
Number of truck-loads of EVs from Mumbai to Vijayawada : 0.0
Number of truck-loads of EVs from Mumbai to Dibru : 0.0
Number of truck-loads of EVs from Mumbai to Raipur : 30.0
Number of truck-loads of EVs from Mumbai to Agartala : 0.0
Number of truck-loads of EVs from Hyderabad to Hassan : 0.0
Number of truck-loads of EVs from Hyderabad to Jodhpur : 0.0
Number of truck-loads of EVs from Hyderabad to Trichy : 0.0
Number of truck-loads of EVs from Hyderabad to Simla : 0.0
Number of truck-loads of EVs from Hyderabad to Vijayawada : 310.0
Number of truck-loads of EVs from Hyderabad to Dibru : 0.0
Number of truck-loads of EVs from Hyderabad to Raipur : 60.0
Number of truck-loads of EVs from Hyderabad to Agartala : 0.0
n\Constraints
constraints : Size=16
    Key : Lower : Body  : Upper
      1 :  None : 350.0 : 350.0
      2 :  None : 185.0 : 185.0
      3 :  None : 305.0 : 305.0
      4 :  None : 180.0 : 180.0
      5 :  None : 205.0 : 205.0
      6 :  None : 175.0 : 175.0
      7 :  None : 325.0 : 325.0
      8 :  None : 370.0 : 370.0
      9 : 205.0 : 205.0 : 205.0
     10 : 300.0 : 300.0 : 300.0
     11 : 425.0 : 425.0 : 425.0
     12 : 270.0 : 270.0 : 270.0
     13 : 375.0 : 375.0 : 375.0
     14 : 225.0 : 225.0 : 225.0
     15 : 185.0 : 185.0 : 185.0
     16 : 110.0 : 110.0 : 110.0

In [ ]:
data_csvfile.iloc[4, 6] = 100000
data_csvfile.iloc[3, 7] = 200000

In [ ]:
model_lab6_ex1.objective = Objective(expr = sum(data_csvfile.iloc[i, j+1]*model_lab6_ex1.x[i, j] for i in row_indices for j in col_indices), sense = minimize)

WARNING:pyomo.core:Implicitly replacing the Component attribute objective (type=<class 'pyomo.core.base.objective.ScalarObjective'>) on block unknown with a new Component (type=<class 'pyomo.core.base.objective.ScalarObjective'>).
This is usually indicative of a modelling error.
To avoid this warning, use block.del_component() and block.add_component().

In [ ]:
result = opt_cbc.solve(model_lab6_ex1)
print("Solver Status: ", result.solver.status)
print("Solver Termination Condition", result.solver.termination_condition)

Solver Status:  ok
Solver Termination Condition optimal

In [ ]:
#display solution
print("\nOnbjective = ", model_lab6_ex1.objective())

print('\nDecision Variables')
for i in row_indices:
  for j in col_indices:
    print("Number of truck-loads of EVs from", data_csvfile['Warehouses'][i], "to", data_csvfile.columns[j + 1], ":", model_lab6_ex1.x[i, j].value)

print("n\Constraints")
model_lab6_ex1.constraints.display()

Onbjective =  2518200.0

Decision Variables
Number of truck-loads of EVs from Ahmedabad to Hassan : 0.0
Number of truck-loads of EVs from Ahmedabad to Jodhpur : 300.0
Number of truck-loads of EVs from Ahmedabad to Trichy : 0.0
Number of truck-loads of EVs from Ahmedabad to Simla : 0.0
Number of truck-loads of EVs from Ahmedabad to Vijayawada : 0.0
Number of truck-loads of EVs from Ahmedabad to Dibru : 50.0
Number of truck-loads of EVs from Ahmedabad to Raipur : 0.0
Number of truck-loads of EVs from Ahmedabad to Agartala : 0.0
Number of truck-loads of EVs from Bengal to Hassan : 0.0
Number of truck-loads of EVs from Bengal to Jodhpur : 0.0
Number of truck-loads of EVs from Bengal to Trichy : 120.0
Number of truck-loads of EVs from Bengal to Simla : 0.0
Number of truck-loads of EVs from Bengal to Vijayawada : 65.0
Number of truck-loads of EVs from Bengal to Dibru : 0.0
Number of truck-loads of EVs from Bengal to Raipur : 0.0
Number of truck-loads of EVs from Bengal to Agartala : 0.0
Number of truck-loads of EVs from Chennai to Hassan : 0.0
Number of truck-loads of EVs from Chennai to Jodhpur : 0.0
Number of truck-loads of EVs from Chennai to Trichy : 305.0
Number of truck-loads of EVs from Chennai to Simla : 0.0
Number of truck-loads of EVs from Chennai to Vijayawada : 0.0
Number of truck-loads of EVs from Chennai to Dibru : 0.0
Number of truck-loads of EVs from Chennai to Raipur : 0.0
Number of truck-loads of EVs from Chennai to Agartala : 0.0
Number of truck-loads of EVs from Delhi to Hassan : 0.0
Number of truck-loads of EVs from Delhi to Jodhpur : 0.0
Number of truck-loads of EVs from Delhi to Trichy : 0.0
Number of truck-loads of EVs from Delhi to Simla : 180.0
Number of truck-loads of EVs from Delhi to Vijayawada : 0.0
Number of truck-loads of EVs from Delhi to Dibru : 0.0
Number of truck-loads of EVs from Delhi to Raipur : 0.0
Number of truck-loads of EVs from Delhi to Agartala : 0.0
Number of truck-loads of EVs from Kolkata to Hassan : 0.0
Number of truck-loads of EVs from Kolkata to Jodhpur : 0.0
Number of truck-loads of EVs from Kolkata to Trichy : 0.0
Number of truck-loads of EVs from Kolkata to Simla : 0.0
Number of truck-loads of EVs from Kolkata to Vijayawada : 0.0
Number of truck-loads of EVs from Kolkata to Dibru : 0.0
Number of truck-loads of EVs from Kolkata to Raipur : 95.0
Number of truck-loads of EVs from Kolkata to Agartala : 110.0
Number of truck-loads of EVs from Lucknow to Hassan : 0.0
Number of truck-loads of EVs from Lucknow to Jodhpur : 0.0
Number of truck-loads of EVs from Lucknow to Trichy : 0.0
Number of truck-loads of EVs from Lucknow to Simla : 0.0
Number of truck-loads of EVs from Lucknow to Vijayawada : 0.0
Number of truck-loads of EVs from Lucknow to Dibru : 175.0
Number of truck-loads of EVs from Lucknow to Raipur : 0.0
Number of truck-loads of EVs from Lucknow to Agartala : 0.0
Number of truck-loads of EVs from Mumbai to Hassan : 205.0
Number of truck-loads of EVs from Mumbai to Jodhpur : 0.0
Number of truck-loads of EVs from Mumbai to Trichy : 0.0
Number of truck-loads of EVs from Mumbai to Simla : 90.0
Number of truck-loads of EVs from Mumbai to Vijayawada : 0.0
Number of truck-loads of EVs from Mumbai to Dibru : 0.0
Number of truck-loads of EVs from Mumbai to Raipur : 30.0
Number of truck-loads of EVs from Mumbai to Agartala : 0.0
Number of truck-loads of EVs from Hyderabad to Hassan : 0.0
Number of truck-loads of EVs from Hyderabad to Jodhpur : 0.0
Number of truck-loads of EVs from Hyderabad to Trichy : 0.0
Number of truck-loads of EVs from Hyderabad to Simla : 0.0
Number of truck-loads of EVs from Hyderabad to Vijayawada : 310.0
Number of truck-loads of EVs from Hyderabad to Dibru : 0.0
Number of truck-loads of EVs from Hyderabad to Raipur : 60.0
Number of truck-loads of EVs from Hyderabad to Agartala : 0.0
n\Constraints
constraints : Size=16
    Key : Lower : Body  : Upper
      1 :  None : 350.0 : 350.0
      2 :  None : 185.0 : 185.0
      3 :  None : 305.0 : 305.0
      4 :  None : 180.0 : 180.0
      5 :  None : 205.0 : 205.0
      6 :  None : 175.0 : 175.0
      7 :  None : 325.0 : 325.0
      8 :  None : 370.0 : 370.0
      9 : 205.0 : 205.0 : 205.0
     10 : 300.0 : 300.0 : 300.0
     11 : 425.0 : 425.0 : 425.0
     12 : 270.0 : 270.0 : 270.0
     13 : 375.0 : 375.0 : 375.0
     14 : 225.0 : 225.0 : 225.0
     15 : 185.0 : 185.0 : 185.0
     16 : 110.0 : 110.0 : 110.0

**Report on exercise 1 part 1:**

The LP formulation is as follows:

$ min \sum_{w=1}^8\sum_{m=1}^8 C(w,m)*x_{wm} $

$s.t. \sum_{w=1}^8x_{wm}=d_m     m${ 1,2,....8 }

$ \sum_{m=1}^8x_{wm} <= s_w w${1,2,....8}

$ x_{wm}>= 0  w,m $ {1,2,....,8}

where C(w, m) is the cost of transporting one unit of truck-load of EVs from w to m and $x_{wm}$ is the number of units of truck-loads transferring from w to m.

**Report on Exercise 1 part 7:**

**Total Cost:**
2192870.0

**Number of truck-loads of EVs from warehouses to markets are as follows:**

Number of truck-loads of EVs from Ahmedabad to Jodhpur : 300.0


Number of truck-loads of EVs from Ahmedabad to Dibru : 45.0

Number of truck-loads of EVs from Ahmedabad to Raipur : 5.0


Number of truck-loads of EVs from Bengal to Trichy : 120.0

Number of truck-loads of EVs from Bengal to Vijayawada : 65.0

Number of truck-loads of EVs from Chennai to Trichy : 305.0


Number of truck-loads of EVs from Delhi to Simla : 95.0

Number of truck-loads of EVs from Delhi to Dibru : 85.0

Number of truck-loads of EVs from Kolkata to Dibru : 95.0


Number of truck-loads of EVs from Kolkata to Agartala : 110.0


Number of truck-loads of EVs from Lucknow to Simla : 175.0

Number of truck-loads of EVs from Mumbai to Hassan : 205.0

Number of truck-loads of EVs from Mumbai to Raipur : 120.0

Number of truck-loads of EVs from Hyderabad to Vijayawada : 310.0

Number of truck-loads of EVs from Hyderabad to Raipur : 60.0

**Report on Exercise 1 part 8:**

Now, Lucknow-Simla link is disrupted that means Lucknow is now not supplying to Simla so we'll change the cost value in the data file. We'll increase the cost (because it's a minimization problem) for Lucknow-Simla link so that Lucknow-Simla supply become zero.

**Report on Exercise 1 part 9:**

Solution to the new problem is:

**Objective** =  2380570.0

**Decision Variables:**

Number of truck-loads of EVs from Ahmedabad to Jodhpur : 300.0

Number of truck-loads of EVs from Ahmedabad to Raipur : 50.0

Number of truck-loads of EVs from Bengal to Trichy : 120.0

Number of truck-loads of EVs from Bengal to Vijayawada : 65.0

Number of truck-loads of EVs from Chennai to Trichy : 305.0

Number of truck-loads of EVs from Delhi to Simla : 180.0

Number of truck-loads of EVs from Kolkata to Dibru : 95.0

Number of truck-loads of EVs from Kolkata to Agartala : 110.0

Number of truck-loads of EVs from Lucknow to Dibru : 130.0

Number of truck-loads of EVs from Lucknow to Raipur : 45.0

Number of truck-loads of EVs from Mumbai to Hassan : 205.0

Number of truck-loads of EVs from Mumbai to Simla : 90.0

Number of truck-loads of EVs from Mumbai to Raipur : 30.0

Number of truck-loads of EVs from Hyderabad to Vijayawada : 310.0

Number of truck-loads of EVs from Hyderabad to Raipur : 60.0

**Constraints:**

constraints : Size=16

    Key : Lower : Body  : Upper
      1 :  None : 350.0 : 350.0
      2 :  None : 185.0 : 185.0
      3 :  None : 305.0 : 305.0
      4 :  None : 180.0 : 180.0
      5 :  None : 205.0 : 205.0
      6 :  None : 175.0 : 175.0
      7 :  None : 325.0 : 325.0
      8 :  None : 370.0 : 370.0
      9 : 205.0 : 205.0 : 205.0
     10 : 300.0 : 300.0 : 300.0
     11 : 425.0 : 425.0 : 425.0
     12 : 270.0 : 270.0 : 270.0
     13 : 375.0 : 375.0 : 375.0
     14 : 225.0 : 225.0 : 225.0
     15 : 185.0 : 185.0 : 185.0
     16 : 110.0 : 110.0 : 110.0


**Observations on result:**

1) Lucknow-Simla supply is zero after disruption.

2) Initially, Lucknow was supplying 175 electric vehicles to Simla but after disruption of Lucknow-Simla link, Lucknow is supplying 130 vehicles to **Dibrugarh** and 45 vehicles to **Raipur** because it has 175 available stocks. 

3) The demand of simla is 270, so it will now be fulfilled by other cities(Mumbai and Delhi).

4) Also, the supply from other cities changed. For example, initially supply from Ahmedabad to Dibru was 45 and to Raipur it was 5 but after disruption Ahmedabad stopped supplying to Dibru instead it started supplying more to Raipur.

5) The total cost increased.

**Report on Exercise 1 part 10:**

The new solution after disruption of links between Kolkata-Dibrugarh and Delhi-Raipur in addition to Lucknow-Simla is as follows:

**Objective** =  2518200.0

**Decision Variables:**

Number of truck-loads of EVs from Ahmedabad to Jodhpur : 300.0

Number of truck-loads of EVs from Ahmedabad to Dibru : 50.0

Number of truck-loads of EVs from Bengal to Trichy : 120.0

Number of truck-loads of EVs from Bengal to Vijayawada : 65.0

Number of truck-loads of EVs from Chennai to Trichy : 305.0

Number of truck-loads of EVs from Delhi to Simla : 180.0

Number of truck-loads of EVs from Kolkata to Raipur : 95.0

Number of truck-loads of EVs from Kolkata to Agartala : 110.0

Number of truck-loads of EVs from Lucknow to Dibru : 175.0

Number of truck-loads of EVs from Mumbai to Hassan : 205.0

Number of truck-loads of EVs from Mumbai to Simla : 90.0

Number of truck-loads of EVs from Mumbai to Raipur : 30.0

Number of truck-loads of EVs from Hyderabad to Vijayawada : 310.0

Number of truck-loads of EVs from Hyderabad to Raipur : 60.0

**Constraints**

constraints : Size=16

    Key : Lower : Body  : Upper
      1 :  None : 350.0 : 350.0
      2 :  None : 185.0 : 185.0
      3 :  None : 305.0 : 305.0
      4 :  None : 180.0 : 180.0
      5 :  None : 205.0 : 205.0
      6 :  None : 175.0 : 175.0
      7 :  None : 325.0 : 325.0
      8 :  None : 370.0 : 370.0
      9 : 205.0 : 205.0 : 205.0
     10 : 300.0 : 300.0 : 300.0
     11 : 425.0 : 425.0 : 425.0
     12 : 270.0 : 270.0 : 270.0
     13 : 375.0 : 375.0 : 375.0
     14 : 225.0 : 225.0 : 225.0
     15 : 185.0 : 185.0 : 185.0
     16 : 110.0 : 110.0 : 110.0

**Observations from the result:**

1) Total cost increased (even more than the last solution when only Lucknow-Simla link was disrupted).

2) Since, Kolkata-Dibrugarh link is disrupted, so kolkata started supplying to city Raipur, Demand of Dibrugarh is now fulfilled by city Lucknow and Ahmedabad.

3) Also, Delhi-Raipur link disrupted so, Delhi started supplying to Simla and cities Kolkata and Mumbai now fulfilling the remaining demand of Raipur.